<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/layouts/l02.css" />
    <title>Columns</title>
  </head>
  <body>
    <div class="parent">
      <div class="child">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste debitis et
        ad ea ex temporibus?
      </div>
      <div class="child">
        Dolorem, veritatis necessitatibus dolores magnam odio molestiae nihil?
        Eveniet, quod quae tenetur possimus esse accusamus!
      </div>
      <div class="child">
        Ratione culpa quis quaerat necessitatibus architecto. Quas ipsa
        exercitationem voluptates natus, vero alias nesciunt accusantium.
      </div>
    </div>
  </body>
</html>
