<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/layouts/l03.css" />
    <title>Sidebar</title>
  </head>
  <body>
    <div class="sidebar">
      <p>Min: 150px</p>
      <p>Max: 25%</p>
    </div>
    <p class="content" contenteditable>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Numquam dolorum
      modi error eos sint est ex totam pariatur placeat omnis, fuga, quisquam
      unde et possimus quos dignissimos corrupti nesciunt molestiae ipsum
      accusamus neque ratione cupiditate id. Nemo eaque deserunt similique
      quibusdam veniam et labore accusantium, deleniti eum facere? Vel,
      adipisci.
    </p>
  </body>
</html>
