<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/layouts/l05.css" />
    <title>Classic</title>
  </head>
  <body>
    <header><h1>Grip Inc.</h1></header>
    <div class="left-sidebar">Left sidebar</div>
    <main></main>
    <div class="right-sidebar">Right sidebar</div>
    <footer>Grip Inc. 2021</footer>
  </body>
</html>
