* {
  box-sizing: border-box;
}

.box {
  background-color: #ffd900;
  color: black;
  border: 1px solid darkorange;
  padding: 10px;
}

.main-head {
  grid-area: header;
}

.main-nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

.side {
  grid-area: sidebar;
}

.ad {
  grid-area: ad;
}

.main-footer {
  grid-area: footer;
}

.wrapper {
  display: grid;
  gap: 10px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "ad"
    "footer";
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media (min-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "header header"
      "nav nav"
      "sidebar content"
      "ad footer";
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 900px) {
  .wrapper {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header header header"
      "nav content sidebar"
      "nav content ad"
      "footer footer footer";
  }

  nav ul {
    flex-direction: column;
  }
}
