.box {
  width: 300px;
  height: 300px;
  background-color: greenyellow;
  border: 1px solid green;
}

.trnsfrm {
  /* transform: translate(50px, 200px);
  transform: rotate(20deg);
  transform: scaleX(0.5);
  transform: skew(20deg, 10deg); */
  /* matrix(scaleX, skewY, skewX, scaleY, translateX, translateY) */
  transform: matrix(1, 0, 0.3, 1, 100, 100);
}

.trnsfrm3d {
  transform: rotate3d(1, 1, 1, 50deg);
}
