body {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);

  padding: 0;
  margin: 0;
}

.visual {
  height: 300px;
  width: 100%;
  background: wheat;
  margin: 0.5rem 0;
}

.card {
  display: flex;
  flex-direction: column;
  background: lightpink;
  padding: 1rem;
  justify-content: space-between;
}
