* {
  box-sizing: border-box;
}

.bg1 {
  background-color: #aaa;
}

.bg2 {
  background-color: #bbb;
}

.bg3 {
  background-color: #ccc;
}

.bg4 {
  background-color: #ddd;
}

.column {
  float: left;
  width: 25%;
  padding: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 992px) {
  .column {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
