body {
  background-color: lightgreen;
}

p {
  padding: 50px;
  border: 2px dotted black;
  color: blue;
}

@media only screen and (orientation: landscape) {
  body {
    background-color: lightskyblue;
  }
}

@media screen and (max-width: 900px) and (min-width: 600px),
  (min-width: 1100px) {
  p {
    color: brown;
  }
}
