* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.box {
  border: 1px solid salmon;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bbox {
  border: 1px solid blueviolet;
  padding: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center01 {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.pcenter {
  text-align: center;
  width: 50%;
}

.icenter {
  display: block;
  margin: auto;
}

.center02 {
  position: absolute;
  right: 0px;
  width: 300px;
}

.rd {
  position: relative;
}

.center03 {
  line-height: 200px;
  height: 200px;
  border: 2px solid green;
  text-align: center;
}

.center03 p {
  line-height: 1.5;
  display: inline-block;
  vertical-align: middle;
}

.center04 {
  height: 200px;
  border: 2px solid green;
  position: relative;
}

.center04 p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.center05 {
  height: 200px;
  border: 2px solid blueviolet;

  margin: inherit;

  display: flex;
  justify-content: center;
  align-items: center;
}

.demo01 {
  border: 2px solid rebeccapurple;
  width: 1800px;
}

.demo02 {
  border: 2px solid orange;
  max-width: 1800px;
}
