.demo-block {
  /* background-color: lightcyan; */
  background-color: rgb(224, 255, 255);
}

.demo-block-50 {
  /* background-color: lightcyan; */
  /* background-color: rgb(224, 255, 255);
  opacity: 0.5; */

  background: rgba(224, 255, 255, 0.5);
}

.demo-border {
  /* border-top-style: none;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid; */

  /* border-style: none solid none solid; */

  /* border-style: dotted solid dotted; */

  /* border-style: dotted solid; */

  /* border-style: solid;

  border-left-width: 10px;
  border-right-width: 2px;
  border-left-color: slateblue;
  border-right-color: blueviolet; */

  border: 3px solid slategray;
  /* border-radius: 5px; */

  /* border-top-left-radius: 10px; */
}

.demo-geometry {
  margin: 50px 50px;
  padding: 100px;
  width: 600px;
  height: 350px;
  clear: both;
}

.demo-geometry-s {
  margin: 10px 50px;
  padding: 100px;
}

.demo-geometry-i {
  margin: 0px;
  width: 100%;
}

.demo-text {
  color: darkslateblue;
  text-align: left;
  /* text-decoration: underline; */
  /* text-transform: capitalize; */
  text-indent: 30px;
  letter-spacing: normal;
  line-height: normal;
  word-spacing: normal;
  white-space: wrap;
  /* text-shadow: 1px 1px gray; */

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 11pt;
  font-weight: 100;
  /* font-style: italic; */
}

.demo-valign {
  vertical-align: middle;
}

.demo-block-bg {
  /* background-color: lightcyan; */
  background-color: rgb(224, 255, 255);
  opacity: 0.5;

  background-image: url("https://picsum.photos/300/300");
  /* background-image: url("../images/bg-zb.png"); */
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: scroll;

  /* shorthand */
  /* background: rgba(224, 255, 255, 0.5) url("https://picsum.photos/300/300")
    no-repeat center center; */
}

body {
  background-color: lightsteelblue;
  margin: 150px;
  border: 2px dotted red;
  padding: 75px;
}

.square {
  border: 1px dashed greenyellow;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding-top: 23px;
  font-size: 40px;
  text-align: center;
}

.f {
  float: left;
}
