* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
}

.gray1 {
  background-color: #bbb;
}

.gray2 {
  background-color: #ccc;
}

.gray3 {
  background-color: #ddd;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
