body {
  text-align: center;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;

  opacity: 0;
  transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.right-tooltip {
  top: -5px;
  left: 105%;
}

.left-tooltip {
  top: -5px;
  right: 105%;
}

.top-tooltip {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.bottom-tooltip {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.bottom-arrow::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;

  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.top-arrow::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;

  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.left-arrow::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;

  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}

.right-arrow::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;

  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
